.footer {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer img{
    position: absolute;
    top: -120px;
    left: 0;
}

.footer-data {
    width: 100%;
    height: 512px;
    display: flex;
    align-items: flex-end;
    padding: 109px 56px 108px 61px;
    justify-content: space-between;
    background: #1C221B;
}

.footer-text {
    display: flex;
    gap: 12px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.footer-text h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-text p {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    color: #FFFFFF;
}

.footer-text a {
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 34px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.footer-btn {
    width: 680px;
    height: 144px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.footer-btn h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 38px;
    color: #FFFFFF;
}

.footer-btn label {
    width: 100%;
    height: 98px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    border-bottom: 3px solid #CEFF1B;
}

.footer-btn label input {
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0);
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 34px;
    color: #727272;
    outline: none;
}

.footer-btn label button {
    width: 304px;
    height: 80px;
    background: #CEFF1B;
    border: 5px solid #CEFF1B;
    box-shadow: 5px 4px 0px #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
    color: #1C221B;
}

.footer-link {
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    padding: 0 61px;
    justify-content: space-between;
    background: #CEFF1B;
}

.footer-link p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #1C221B;
}

.footer-i{
    display: flex;
    gap: 30px;
    align-items: center;
}

.footer-i i{
    font-size: 24px;
}

.footer-remove {
    display: flex;
    gap: 4px;
    align-items: center;
}

.footer-remove h3 {
    font-family: 'Sansation', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #1C221B;
}

.footer-remove span {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #1C221B;
}

.footer-remove h2 {
    transform: translateY(-5px);
    font-style: normal;
    font-weight: 900;
    font-size: 33px;
    line-height: 41px;
    color: #1C221B;
}

.footer-remove h2 span {
    display: inline-block;
    transform: translateY(10px);
    font-style: normal;
    font-size: 33px;
    line-height: 41px;
    color: #1C221B;
}