.hero {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

/* ASOSIY KONTEYNER */
.hero-box {
    position: relative;
    width: 110%;
    height: 90px;
    transform: rotate(-7deg) skewX(-20deg);
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* BLUR FON */
.hero-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #CEFF1B;
    filter: blur(13px);
    z-index: 1;
}

/* TEXT QATLAMI */
.hero-track {
    position: relative;
    z-index: 2;
    /* MUHIM */
    display: flex;
    gap: 30px;
    white-space: nowrap;
    animation: marquee 12s linear infinite;
}

.hero-box p,
.hero-box h3 {
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 0.07em;
    color: #1C221B;
}

.hero-box h3 {
    font-weight: 700;
}

.hero-box p {
    font-weight: 400;
}

/* ANIMATION */
@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}