.main {
    position: relative;
    width: 100%;
    height: 1343px;
    display: flex;
    align-items: flex-start;
    padding: 230px 0 100px 60px;
    justify-content: space-between;

    /* Clip path o‘ng tomoni qiyshaygan, past tekis */
    clip-path: polygon(0 0,
            100% 15%,
            100% 85%,
            0 100%);

    /* Background rang va rasm */
    background-color: #FBD2FF;
    background-image: url(../Assents/bodyimg.svg);
    background-blend-mode: overlay;
    background-size: cover;
    /* rasmni to‘liq qamrab oladi */
    background-repeat: no-repeat;
    /* rasm takrorlanmasligi uchun */
}

.main-about {
    display: flex;
    gap: 80px;
    align-items: flex-start;
    flex-direction: column;
}

.main-about h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 80px;
    color: #1C221B;
}

.main-imgs {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main-text {
    width: 343px;
    height: 371px;
    display: flex;
    gap: 12px;
    align-items: flex-start;
    padding: 132px 31px 67px 25px;
    flex-direction: column;
    justify-content: flex-start;
    background: #CEFF1B;
    border-radius: 0 158px 0 0;
}

.main-text h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 0.215em;
    font-family: sans-serif;
}

.main-text h3 span {
    color: rgba(0, 0, 0, 0);
    font-family: sans-serif;
    text-shadow: 1px 1px 5px 5px #000;
    -webkit-text-stroke: 1px black;
    /* Chrome, Safari */
    text-stroke: 1px black;
    /* boshqa brauzerlar */
}

.main-text hr {
    width: 217px;
    height: 5px;
    background: #1C221B;
}

.main-text button {
    width: 287px;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    filter: drop-shadow(8px 8px 0px #FFFFFF);
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #CEFF1B;
    margin-top: 41px;
}

.main-card::after {
    content: '';
    position: absolute;
    width: 353px;
    height: 400px;
    top: -30px;
    left: 380px;
    background: #D9D9D9;
    border-radius: 0 0 0 158px;
    background: url(../Assents//mainabout.svg);
    z-index: 1;
    background-size: 100% cover;
    background-position: calc(50% - 25px) -13%;
    background-repeat: no-repeat;
}

.main-card::before {
    content: '';
    position: absolute;
    width: 1065px;
    height: 341px;
    top: 400px;
    left: 0;
    background: #D9D9D9;
    border-radius: 0 158px 0 158px;
    background: url(../Assents//mainabout.svg);
    z-index: 1;
    background-size: 100% cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.main-card img {
    position: absolute;
    top: -120px;
    left: 600px;
    z-index: 10;
}

.main-sale {
    position: absolute;
    top: 30%;
    right: -140px;
    text-align: end;
    transform: rotate(-90deg);
}

.main-sale h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 225px;
    line-height: 292px;
    letter-spacing: 0.095em;
    color: rgba(255, 255, 255, 0.3);
}