.sale {
    width: 100%;
    height: 1089px;
    transition: height 0.5s ease;
    /* height o'zgarishi animatsiya bilan */
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    display: flex;
    gap: 59px;
    align-items: center;
    padding: 150px 66px 59px 60px;
    flex-direction: column;
    justify-content: flex-start;
}

.sale.expanded {
    height: auto;
    padding: 400px 66px 59px 60px;
    /* VIEW MORE bosilganda section kengayadi */
}

.sale h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 80px;
    color: #1C221B;
}

.sale-card {
    width: 100%;
    height: auto;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card {
    width: 410px;
    height: 578px;
    display: flex;
    gap: 24px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    width: 100%;
    height: 426px;
    background-position: center;
    border-radius: 0 160px 0 0;
}

.card-about {
    width: 100%;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-about-name {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.card-about-name h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 38px;
    color: #1C221B;
}

.card-about-name span {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 58px;
    color: #1C221B;
}

.card-about-name span del {
    position: absolute;
    top: -20px;
    right: -50px;
    font-size: 30px;
    font-weight: 700;
    color: #6637ed;
    text-decoration: line-through;
    font-family: sans-serif;
}

.card-about-sale {
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
}

.card-about-sale button {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    font-size: 22px;
    border-radius: 50%;
    border: 3px solid #1C221B;
    box-shadow: 4px 8px 0px #292929;
}

.card-about-sale p {
    position: absolute;
    top: -30px;
    right: -10px;
    transform: rotate(15deg);
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 58px;
    color: #ff0000;
}

.view-more {
    width: 304px;
    height: 80px;
    background: #CEFF1B;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #1C221B;
    filter: drop-shadow(8px 8px 0px #000);
    transition: background 0.3s, height 0.3s;
    cursor: pointer;
}

/* Tugma bosilganda rangi va height o'zgarishi */
.view-more:active {
    background: #B4E10F;
    height: 90px;
}